<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!--共用头部-->
  <header  th:replace="common/head::head"></header>
</head>

<body>
<!--共用导航栏-->
<div th:include="common/navbar :: html"/>
<!-- Page Header -->
<header class="masthead" style="background-image: url('../front/img/home.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>关于我</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p style="color: #007bff;font-family: 'Adobe 宋体 Std L'">个人学习作品作品</p>
      <p>个人博客系统</p>
      <p>基础框架 Spirng Boot </p>
      <p>整合shiro(安全框架)，整合mybatis（持久层框架）,引入Thymeleaf+Html5（前端）</p>
      <p></p>
    </div>
  </div>
</div>


<hr>
<!--共用底部-->
<div th:include="common/footer :: footer"/>
</body>
</html>